<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Bike Incidents in Your Area</title>
        <link rel="icon" th:href="@{/images/favicon.ico}"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
    </head>
    <body>
        <main role="main" class="container">
            <div class="starter-template">
                <h1>Bike Incidents in Your Area</h1>
            </div>
            <form action="#" th:action="@{/}" method="post">
                <label for="zipCode">Zip Code:</label>
                <input class="zipCode"
                       type="text"
                       inputmode="numeric"
                       name="zipCode"
                       id="zipCode"
                       th:value="${zipCode}"
                       placeholder="zip code">
                <button type="submit">Search</button>
            </form>
            <hr/>
            <div class="layout-wrapper">
                <section class="incidents" th:if="${bikeIncidents!=null}">
                    <h2>Results</h2>
                    <div th:if="${bikeIncidents!=null and #lists.isEmpty(bikeIncidents)}">
                        <p>No Incidents Found</p>
                    </div>
                    <div class="incident-container" th:each="incident : ${bikeIncidents}">
                        <p th:text="${incident.title}"></p>
                        <ul class="incident-list">
                            <li th:text="${incident.type}"></li>
                            <li th:text="${incident.address}"></li>
                            <li th:text="${incident.description}"></li>
                        </ul>
                    </div>
                </section>
                <section class="response-time" th:if="${responseTimes!=null}">
                    <h2>Response Time</h2>
                    <ul class="response-time-list" th:each="responseTime : ${responseTimes}">
                        <li th:text="${responseTime}"></li>
                    </ul>
                </section>
            </div>
        </main>
    </body>
</html>