@import "fonts.css";

body {
    font-family: proxima_nova_reg, sans-serif;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

h1 {
    font-family: proxima_nova_bold, sans-serif;
    font-weight: bold;
    margin: 0 0 16px 0;
}

h2 {
    font-family: proxima_nova_semibold, sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
}

h3 {
    font-family: proxima_nova_reg, sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #606163;
    margin-top: 20px;
    margin-bottom: 10px;
}

h4 {
    font-family: proxima_nova_semibold, sans-serif;
    font-weight: 600;
    margin: 0;
}

p {
    margin: 0;
}

.zipCode-search-form {
    display: flex;
    align-items: center;
}

.zipCode_label {
    font-family: proxima_nova_semibold, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-right: 10px;
}

.zipCode-input {
    box-sizing: border-box;
    height: 30px;
    width: 193px;
    border: 1px solid #979797;
    border-radius: 2px;
    margin-right: 10px;
}

.search-button {
    height: 29px;
    width: 80px;
    border-radius: 2px;
    padding: 0;
    background-color: #00A390;
    color: #FFFFFF;
    font-family: proxima_nova_reg, sans-serif;
    font-size: 14px;
    line-height: 17px;
}

.header-wrapper {
    background-color: #f7f7f7;
    padding: 20px 40px;
}

.layout-wrapper {
    display: flex;
    margin-left: 40px;
    justify-content: space-between;
}

.response-time-container {
    padding-right: 150px;
}

.response-time-list {
    list-style-type: none;
    padding: 0;
}

.incident-container {
    padding-bottom: 20px;
    border-bottom: 1px solid #606163;
}

.incidents {
    max-width: 525px;
    padding-right: 100px;
}

div.incident-container:last-child{
    border: none;
}